<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>MVC main!</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/lumen/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/styles/article_style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/public/app.js"></script>

</head>

<body>
  {{{body}}}
</body>

</html>